@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap%27');

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{
    background-color: white ;
    margin: 0;
    font-family: 'Saira', sans-serif;
}

.header{
    width: 100%;
    height: 30vh;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-tecnologia-conexion-red-tierra-digital-global_1017-23328.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: end;
}

.header-adelante{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(20, 20, 20, 0.55);
    width: 100%;
    height: 60px;
}

.header-adelante h1{
    font-size: 40px;
}

.header hr{
    width: 60px;
    border: 1px solid white;
    z-index: 1;
}




/* NOTICIAS */
.main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}
.noticias {
    border: 2px solid black;
    width: 500px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
    text-align: justify;
    border-radius: 13px;
}

.noticias h3 {
    margin-left: 10px;
}

.noticias h4 {
    text-align: center;
    border-radius: 20px;
    max-width: 40%; 
    margin: 10px auto;

}


.domotica h4 {
    border: 2px solid rgba(150, 150, 150, 0.5);
    background-color: rgba(150, 150, 150, 0.5)
}

.bms h4 {
    border: 2px solid rgba(139, 253, 244, 0.5);
    background-color: rgba(139, 253, 244, 0.5)

}

.energias_renovables h4 {
    border: 2px solid rgba(172, 255, 47, 0.5);
    background-color: rgba(172, 255, 47, 0.5);
}

.instalaciones_electricas h4 {
    border: 2px solid rgba(147, 167, 255, 0.5);
    background-color: rgba(147, 167, 255, 0.5);
}

.senales_debiles h4 {
    border: 2px solid rgba(250, 129, 129, 0.5);
    background-color: rgba(250, 129, 129, 0.5);
}
.etiqueta {
    display: inline-block;
    margin-right: 0px; 
}

.foto {
    height: 244.8px;
    position: relative;
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.foto h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    z-index: 2;
    
}

.foto a{
    text-decoration: none;
    color: white;
}

.foto .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: rgba(0, 0, 0, 0.55);
}

.importante {
    font-family: 'Secular One', sans-serif;

    margin-top: -19px;
    margin-right: -35px;
    float: right;
    text-align: center;
    background-color: rgb(255, 95, 95);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    font-size: 27px;
}
  

@media (max-width: 1440px) {
    .header h1 {
        font-size: 24px;
    }

    .header {
        width: 100%;
    }
    .main {
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        justify-content: center;
    }

    .noticias {
        width: 40vw;
    }
}

@media (max-width: 1024px) {
    .header h1 {
        font-size: 20px;
    }


}

@media (max-width: 768px) {


    .main {
        width: 100%;
        grid-template-columns: 0.7fr;
   
    }

    .noticias {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .main{
        width: 100%;
        grid-template-columns: 0.95fr;

    }
    
    .noticias{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 30px;
    }
    .noticias h4 {
        max-width: 90%;
    }


    .foto h1 {
        font-size: 26px;
    }

    .importante {
        margin-right: 0px;
        padding: 13px 14px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 27px;
      }
}

@media (max-width: 320px) {
    .main {
        width: 100%;
   
    }
    .noticias h4 {
        max-width: 90%;
    }

    .foto h1 {
        font-size: 22px;
    }

    .importante {
        margin-right: -5px;
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 15px;
      }


      
}