@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
body{
    font-family: 'Saira', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 0px;

}

.header {
    height: 200px;
}


.noticia{
    margin-left: 20px;
    font-size: 20px;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.intro hr{
    margin-top: 40px;
}

.info{
    margin-top: 40px;
}


.fecha {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 20px;
}

.introduccion {
    font-size: 18px;
    margin-bottom: 20px;
}

.parrafo {
    margin-bottom: 10px;
}

.etiquetas {
    margin-top: 10px;
}

.etiqueta {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}

@media only screen and (max-width: 1440px) {
    .header {
        height: 150px;
    }

    .titulo {
        font-size: 40px;
    }

    .fecha {
        font-size: 16px;
    }

    .introduccion {
        font-size: 14px;
    }

    .etiqueta {
        font-size: 12px;
        padding: 3px;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        height: 120px;
    }

    .titulo {
        font-size: 35px;
    }

    .noticia {
        margin-left: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 100px;
    }

    .titulo {
        font-size: 30px;
    }

    .noticia {
        margin-left: 5px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    .header {
        width: 100%;
    }

    .noticia{
        margin-right: 10px;
        font-size: 18px;
    }

    .info img{
        width: 100%;
    }
    .etiquetas{
        text-align: center;
    }
    .etiqueta{
        font-size: 20px;

    }
}

@media only screen and (max-width: 375px) {
    .header {
        height: 60px;
    }

    .titulo {
        font-size: 30px;
    }

    .noticia {
        margin-left: 5px;
        font-size: 17px;
    }


}

@media only screen and (max-width: 320px) {
    .header {
        height: 50px;
    }

    .titulo {
        font-size: 25px;
    }

    .noticia {
        margin-left: 5px;
        font-size: 15px;
    }

    .etiqueta{
        font-size: 15px;
    }
}