@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap%27');

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


/* Override UGG site */
main, html {
    width: 100%; 
    padding:0; 
    margin: 0; 
    display: flex;
    font-family: 'Saira', sans-serif;
    background-color: #f5f6f7;
}
.navBar {
    background-color: transparent;
  }
body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.content-asset p {
    margin:0;
}

.breadcrumb {
    display:none;
}

section{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.title h1{
    text-align: center;
    letter-spacing: 15px;
    font-family: 'Saira', sans-serif;
    font-size: 50px;
    animation: desenfocar 1s ease-in-out forwards;
    color: white;
}

.title h4{
    text-align: center;
    letter-spacing: 15px;
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: desenfocar 1s ease-in-out forwards;
    font-size: 14px;
    margin-top: -10px;
    color: white;
}

.links-title{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Saira', sans-serif;
    animation: desenfocar 1s ease-in-out forwards;
    color: white;
}

.links-title a{
    color: rgb(0, 0, 0);
    border-radius: 0px;
    background-color: transparent;
    font-weight: bolder;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
/* SERVICIOS-BOTON */
button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 0 0;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }
@media (max-width: 460px){
    .title h1{
        letter-spacing: 15px;
        font-size: 35px;
    }
    
    .title h4{
        letter-spacing: 10px;
    }
}

/* Div - Parallax */
/**************************/
.proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.proyectos h1{
    margin-bottom: 15px;
    font-family: 'Saira', sans-serif;
}




#parallax-world-of-ugg h2 {
    font-family: 'Oswald', sans-serif; 
    font-size: 70px; 
    letter-spacing: 10px; 
    text-align: center; 
    color: white; 
    font-weight: 400; 
    text-transform: uppercase; 
    z-index: 10; 
    width: 100%;
}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}




/* Section - Parallax */
/**************************/
.parallax {
    height: 100vh;
    width: 100%; 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;

}

.parallax-contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.parallax-contenido h2{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    width: 95%;
    margin-top: -10px;
}


#localidad{
    font-family: 'Saira', sans-serif;

    color: white;
    font-size: 25px;
    margin-top: -30px;
    letter-spacing: 5px;
}

/* Extras */

@keyframes desenfocar {
    from {
      opacity: 0;
      filter: blur(3px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}


/* Media Queries */
/**************************/
@media screen and (max-width: 800px) {
    #parallax-world-of-ugg h2 {
      font-size: 28px;
  }
    #parallax-world-of-ugg .parallax {
      height: 75vh;
      background-attachment: scroll; 
  
    }
    .parallax-contenido, .parallax{
      height: 75vh;
    }
  
  .title h1{
      letter-spacing: 5px;
      font-size: 35px;
  }
  }

  @media (max-width: 670px){
    .parallax-contenido h2{
        font-size: 50px;
    }
}

@media (max-width: 500px){
    .parallax-contenido h2{
        font-size: 40px;
    }
}
  
  @media screen and (max-width: 470px) {
    #parallax-world-of-ugg .block {width:290px;}
    #parallax-world-of-ugg .parallax {
      height: 50vh;
    }
    .parallax-contenido, .parallax{
      height: 50vh;
    }
  
    .links-title{
      flex-direction: column;
  }
  
    .title h4{
      display: none;
  }
  
  .informacion hr{
      width: 80%;
  }
  }
  
  @media (max-width: 360px){
      #parallax-world-of-ugg .block {padding: 30px 15px; width:250px;}
      #parallax-world-of-ugg .parallax {
          height: 35vh;
      }
      .parallax-contenido, .parallax{
          height: 35vh;
      }
  
      .parallax-contenido h2{
          font-size: 25px;
      }
  
      .parallax-contenido a{
          font-size: 20px;
          width: 100px;
          padding: 2px 10px;
      }
  
      .informacion{
          margin: 80px 5px 160px 5px;
      }
  
      .informacion p{
          font-size: 14px;
      }
  }
  
  
  